<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :client %>
    <%= f.check_box :client %>
  </div>

  <div class="field">
    <%= f.label :contacted_one %>
    <%= f.date_select :contacted_one %>
  </div>

  <div class="field">
    <%= f.label :contacted_two %>
    <%= f.date_select :contacted_two %>
  </div>

  <div class="field">
    <%= f.label :contacted_three %>
    <%= f.date_select :contacted_three %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
